extends layout
block content
  .slant-container.right
    .veil
    video(id="gangnamVideo", autoplay, loop, muted)
      source(src='gangnamStyle.mp4', type='video/mp4')
  .slant
    .slant-container.left
      #header 
        .vertical-align-container#header-title 
          .vertical-align-content
            .capitalized G
            | ANGNAM
            .capitalized W
            | AVE
        .vertical-align-container#header-container
          .vertical-align-content#menu-button MENU
          .vertical-align-content#home-button HOME
          .vertical-align-content ABOUT
      .vertical-align-container#title-container 
        .vertical-align-content#title
          .capitalized G
          | ANGNAM   
          .capitalized W
          | AVE
          .subtitle AMES 471: World of Korean Cinema
  #slant-drawer
    .slant-drawer-container
      .slant-tabs
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized I
              | NTRODUCTION
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized W
              | HO IS 
              .capitalized P
              | SY
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized M
              | ASCULINITY IN 
              .capitalized K
              | OREAN 
              .capitalized P
              | OP 
              .capitalized C
              | ULTURE
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content 
              .capitalized P
              | SY AND 
              .capitalized M
              | ASCULINITY
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized G
              | ANGNAM 
              .capitalized G
              | OES 
              .capitalized V
              | IRAL 
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized C
              | ONSEQUENCES OF 
              .capitalized V
              | IRALITY
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized D
              | ISCUSSION
        .slant-tab.hidden 
          .vertical-align-container.slant-tab-container
            .vertical-align-content.slant-tab-content
              .capitalized C
              | ONCLUSION

 
