@import 'nib'
global-reset()

skewAngle = 15deg
slant-offset = 120px
title-font-size = 3.8vw
headerHeight = 5.5

* 
  box-sizing border-box

html, body
  height 100%
  margin 0

body
  overflow-x hidden
  overflow-y scroll

ul
  list-style square
  margin-left 1em
  margin-top 0.5em
  margin-bottom 0.5em

li
  margin-bottom 0.4em



#header
  width 100%
  height headerHeight * 1%
  background-color white
  color black
  font-family 'Dosis', sans-serif
  font-weight 400
  font-size 1.2em
  padding-left 0.8em

  #header-container
    width 30%
    float left
    text-align right
    
  #header-title
    width 35%
    float left
    text-align left
    cursor pointer

    .capitalized
      display inline-block
      font-size 115%

      &:not(:first-child)
        margin-left 0.1em

.header-button
  transition color 0.5s linear
  color #808080
  cursor pointer

  &:hover
    color black

#menu-button
  transition padding-right 0.4s linear
  padding-right 38%
  &.home
    padding-right 8%


#tab-content
  transition left 0.7s linear,
    top 0.6s linear,
    transform 0.9s ease-out,
    z-index 0.7s linear,
    opacity 0.5s linear
  transform skewX(skewAngle)
  width 200%
  position relative
  top 0
  left -200%
  background-color black
  text-align left
  opacity 1
  //overflow-y scroll

  &.active
    left 10%
    z-index 0

  &.removed
    opacity 0
    //top 100%

  .container
    //background-color black
    //border 1px solid #505050
    transform skewX(-(skewAngle))
    position relative
    left 12%
    width 33%
    color white
    height 93%
    top 7%
    padding 2.5% 5%

.vertical-align-container
  height 100%
  width 100%
  display table

.vertical-align-content
  display table-cell
  vertical-align middle

#title-container
  transition opacity 0.5s linear
  height (100 - headerHeight) * 1%
  opacity 1
  width 200%

  &.hidden
    opacity 0

#title
  font-family 'Open Sans', sans-serif
  font-size title-font-size
  font-weight 700
  text-align left
  padding-left 0.6em
  cursor pointer

  .capitalized
    display inline-block
    font-size title-font-size + 1.5vw

.subtitle
  font-size title-font-size - 1.5vw
  font-weight 300

.slant-container
  height 100%
  width 100%

  &.right
    position absolute
    #veil
      transition opacity 0.5s linear,
        background-color 0.5s linear
      height 100%
      width 100%
      position absolute
      background-color white
      opacity 0.6
      &.darkened
        background-color black
        opacity 0.75

  &.left
    transform skewX(-(skewAngle))
    background-color black
    margin-left slant-offset
    color white

#gangnamVideo
  video
    height 100%
    width 100%
    margin-left 180px
    position fixed
    z-index -1
    box-shadow inset 0 0 10px black 

#slant
  transition left 0.5s linear,
    width 0.5s linear
  margin-left -(slant-offset)
  height 100%
  width 25%
  min-width 500px
  overflow hidden
  display inline-block
  position fixed
  transform skewX(skewAngle)

  &.home
    width 50%

  &.hidden
    position relative
    left -50%

#slant-drawer
  transition left 0.5s linear,
    width 0.5s linear,
    opacity 0.5s linear,
    transform 0.9s ease-out

  position relative
  left -49.6%
  margin-left 0px
  height (100 - headerHeight) * 1%
  width 50%
  overflow hidden
  display inline-block
  transform skewX(skewAngle)
  opacity 1

  &.hidden
    opacity 0


.slant-drawer-container
  margin-left -118px
  height 94.5%
  width 200%
  transform skewX(-(skewAngle))
  color white
  position absolute
  top 5.5%

.slant-tabs
  margin-left slant-offset
  transform skewX(skewAngle)
  height 100%
  width 50%

.slant-tab
  transition left 0.5s ease-out
  //border 1px solid white
  position relative
  left 0
  background-color #505050
  height (100/8)%
  width 100%
  text-align right
  opacity 0.3
  cursor pointer

  &.hidden 
    left -100% 

  &.hovered
    opacity 1
    background-color black

  &:not(:last-child)
    //border-bottom none

  &.active
    opacity 1
    background-color black
    border-right 1px solid black

  .slant-tab-container
    transform skewX(-(skewAngle))
    padding-right 1.6em
    height 100%
    width 100%
    left 0
    opacity 1
    position relative
    padding-left 10%

 .slant-tab-content
    transitionDuration = 0.3s
    transition left transitionDuration linear,
      opacity transitionDuration linear,
      margin-left transitionDuration linear
    font-family 'Open Sans', sans-serif
    font-weight 300
    font-size 1.1em
    line-height 140%
    text-align right

    .capitalized
      display inline-block
      font-size 1.3em

    &.active
      left -20px
      margin-left 40%

.psy-age
  display inline-block

