
h1
  font-family 'Dosis', sans-serif
  font-size 200%
  position relative
  //left -20%
  margin-bottom 5%

.showcase
  font-family 'Dosis', sans-serif
  font-size 200%

.content
  font-family 'Open Sans', sans-serif
  line-height 140%
  font-size 120%

