
.showcase
  font-family 'Dosis', sans-serif
  font-size 200%
  margin-bottom 3%

.content
  font-family 'Open Sans', sans-serif
  line-height 140%
  font-size 120%
  margin-bottom 6%

  &:last-child
    margin-bottom 20%

