
.showcase.
  Recap

.content.
  Why was <i>Gangnam Style</i> so popular in the US where traditional
  K-pop has failed to make an impact? Because in addition to the
  catchy tune and dance, there is PSY, an anomaly of the 
  K-pop factory. He caters to US stereotypes of Asian males
  and does not threaten the white male hegemony. He serves
  its purpose, so it allowed <i>Gangnam Style</i> to spread
  like no other. The result? A deepened
  stereotype of the Asian male clown and a singular representation
  of the diverse South Korean culture.
  
.showcase.
  Musings about the Future

.content.
  It will be interesting to witness how PSY proceeds 
  with his career and how he will use his newfound fame. 
  He stated that his nightmare was having to make
  something better than <i>Gangnam Style</i>, 
  but a nightmare is still a dream.<div class="citation"><a href="http://www.youtube.com/watch?v=QiiJYFh_kKo">24</a></div>
  The reality is this.
  He has a much larger voice now, and he isn't having
  a completely positive impact on Asian society and culture
  in the US. If he is aware of the
  existing Asian constructs (and I hope he is), then
  he can say something about them and people will listen.
  Unfortunately, as with most stereotypes and societal 
  thinking, such constructs are deeply rooted into 
  the common psyche. It will take much more than an
  outspoken PSY to affect any significant change,
  but this points to a much grander issue and is a topic
  for a different venue. What I will
  say here is that taking <i>AMES 471: World of Korean Cinema</i>
  at Duke has opened my eyes (I realize the possible
  racial joke opportunity with this last remark given that
  I'm a South Korean American). Being guided to think analytically
  about the presentation of media and learning about 
  the rich history of the Koreas has affected
  how I think about the mass media that inundates 
  me on a daily basis. I hope that this website and its
  contents has done a little bit of the same for you.


