.showcase.
  Everyone Knows PSY, Not South Korea

.content.
  PSY and <i>Gangnam Style</i> were wildly successful.
  Praised by government officials, entertainment moguls,
  and the massive following of horse-trotters, PSY is 
  known throughout the world. But what are the 
  consequences of his fame? In countries like
  South Korea and even Japan, where PSY was famous
  prior to <i>Gangnam Style</i>, there is less
  to worry about because their societies are  
  more regularly exposed to South Korean culture and
  know more than just PSY. However, for the US and 
  the rest of the world, the general masses likely 
  have little to no idea about South Korean (and East Asian culture
  in general) other than what they know about PSY and 
  <i>Gangnam Style</i>. To them, PSY is representative
  of South Korea or (in more ignorant cases) all of 
  East Asia.
  <br /><br />
  Recall the stereotype that PSY fulfills; he's the 
  funny-guy. Alongside William Hung and Ken Jeong,
  he is inadvertently digging Asian and Asian American
  men in the media into a deeper hole. Now that PSY
  has become such a global phenomenon, not only in 
  the US but across the world, pop culture gatekeepers
  (e.g. the white heterosexual male power structure 
  for US pop culture/mainstream media) will be more attracted
  to Asian and Asian American males that can
  fill a role similar to that of PSY's. In the US,
  PSY has possibly created a character for the Asian male 
  clown stereotype on the same level as <a href="http://en.wikipedia.org/wiki/Fu_Manchu">
  Fu Manchu</a> and <a href="http://en.wikipedia.org/wiki/Charlie_Chan">
  Charlie Chan</a>. His virality only serves to 
  deepen the stereotypes for those who are more
  less knowledgeable of Asian and Asian American culture.
  The photo below from <a href="http://www.gq.com/">GQ</a>
  aptly illustrates the Asian clown situation
  (and demonstrates its ubiquity), "Make
  us laugh, just don't touch our women."<div class="citation"><a href="http://www.rollingstone.com/music/news/rival-bangkok-gangs-in-gunfight-after-gangnam-style-dance-off-20120921">23</a></div>
  
img(src="img/gq.jpg", id="gq-photo")
   
