.showcase.
  The Timeline
 
<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Al86zuJZJAskdGJUcjZBMnVBdFZCejIxLUZfLTdyb1E&font=Bevan-PotanoSans&maptype=TERRAIN&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>

.content.
  When <a href="http://en.wikipedia.org/wiki/YG_Entertainment">
  YG Entertainment</a> uploaded <i>Gangnam Style</i>'s music
  video onto <a href="http://www.youtube.com/user/YGEntertainment">
  their YouTube page</a> no one expected what would come next. 
  <i>Gangnam Style</i> caught fire like no other, proving South
  Korea's prowess of cultural technology and exposing the world
  to the antics of PSY. 
  <br /><br />
  The interactive timeline above lays out <i>Gangnam Style</i>'s
  rise to (and fall from) fame. You can zoom in on the timeline by clicking on
  the magnifying glasses at the left. You can navigate by
  clicking on the events at the bottom or by hovering your
  mouse to the left/right (to go back/forward) and clicking
  the tab that appears.
  <br /><br />
  The events in the timeline capture significant moments in
  <i>Gangnam Style</i>'s life, be they of cultural, social,
  or political nature. Most of the timeline
  has to do with the song's popularity, but I chose to
  add in events such as the meeting with Ban Ki-moon
  and the new Seoul "Gangnam Style" police force because 
  they are telling of the song's multifaceted significance.
  I assume that as time goes on, the long-lasting social
  and cultural effects of <i>Gangnam Style</i> will become
  more apparent.
  
 
