.showcase.
  The First to One Billion

.content.
  A world phenomenon. Praised as a "force for world peace" by 
  <a href="http://en.wikipedia.org/wiki/Ban_Ki-moon">Ban Ki-moon</a> 
  (the Secretary-General of the UN) because of its ubiquity
  and adoration across the globe, the sensation known as
  <i>Gangnam Style</i> has made an impact on the globe.
  Topping the music charts for more than 30 different 
  countries and winning a number of records (including "first 
  video in Internet history to be viewed more than a
  billion times")[Wikipedia] <i>Gangnam Style</i> truly
  took the world by storm. 

.showcase.
  Were the music and dancing that infectious or was 
  there something else to it?

.content.
  Academics and bloggers alike have argued the social 
  and cultural significance of <i>Gangnam Style</i> 
  and its creator PSY [another citation], but what
  is the true reason behind the virality?
  This website is a piece meant to implicity
  capture the essence of this phenomenon, which I've dubbed
  Gangnam Wave, and to analyze some of the possible
  reasons as to why the Wave occurred. I focus on 
  the propagation throughout the United States,
  questioning whether or not Gangnam Wave is a 
  product rooted in cultural history or simply 
  a product of the times. 

.showcase.
  "Gangnam Wave"

.content.
  The term is by no means innovative. It is named after
  the term "<a href="http://en.wikipedia.org/wiki/Korean_Wave">Korean Wave</a>"
  (a.k.a. "hallyu"), which is a neologism meant to 
  describe the increasing popularity of South Korean 
  culture since the late 1990s. We could simply 
  place <i>Gangnam Style</i> under the Korean Wave, 
  but I did not find it fitting given that <i>Gangnam Style</i> 
  has found success beyond that of the initial hallyu. 
  Gangnam Wave is in a category of its own.

.showcase.
  Why the United States?
 
.content.
  The US has fostered a small, but nevertheless
  significant, Korean pop following since
  the coming of the Korean Wave. <i>Gangnam Style</i>
  was picked up by the masses. From this we 
  can see that there must have been something
  about the latter that was more amenable to US
  tastes. Traditional K-pop and the factory-like (cite John Seabrook)
  industry behind it have been attempting to 
  break into US mass media culture for years
  with poor success. Thus analyzing what sets 
  <i>Gangnam Style</i> apart from traditional 
  K-pop produces an insight into the 
  relationship between South Korea (SK) and the US.
  At its core, the reason I chose to look
  at the US is because of its long, choppy history
  with SK. Furthermore, my life in the US and as
  a South Korean American offer an insider's perspective
  into the phenomenon from both the SK and US sides.

.showcase.
  Topic Question

.content.
  "Why were PSY and Gangnam Style so popular 
  in the United States?"
  
.showcase.
  Thesis Statement

.content.
  Both cultural the meeting point of South Korean
  and United States history and the perfect storm,
  Gangnam Wave was the result of South Korean executed 
  cultural priming on US culture and a mix of the
  right elements, which include PSY, US perceptions
  of masculinity, and the <a href="http://en.wikipedia.org/wiki/Harlem_Shake_(song)">
  Harlem Shake</a>. While the Wave was a remarkable
  US success for South Korea and PSY, the residual 
  impact in the United States may have entrenched
  US citizens' perspectives and understanding of 
  not only South Korean society, but of East Asian 
  societies in general. The ubiquity of PSY
  has provided fodder to solidify Asian stereotypes 
  in a manner similar to that of <a href="http://en.wikipedia.org/wiki/William_Hung">
  William Hung's</a> popularity. Indeed, PSY's
  physical characteristics and mannerisms fit the
  are easily placed by the US into their perception
  of the Asian Other. 



What I want to emphasize is one aspect of GS's popularity.
Undoubtedly, the music and dance, both catchy and fun, 
played a role in GS's popularity. But what I argue is
that there is something more to it 

