.content.
  If you haven't heard of Gangnam Style then you've been
  living under rock. This statement could not been more 
  true for any other phenomenon. Topping the music
  charts for more than 30 different countries and
  winning a number of records (including "first 
  video in Internet history to be viewed more than a
  billion times")[Wikipedia] Gangnam Style truly took the
  world by storm, but why? Was the music and dancing 
  that infectious or was there something else to it?

  Academics and bloggers alike have argued the social 
  and cultural significant of Gangnam Style and its
  creator Psy [another citation], but no one can say
  for certain why it has become such a cultural 
  phenomenon. The purpose of this website is to
  explore the possibilities for why the song and
  dance were so widely adopted, paying particular
  attention to their spread in the United States. 
  I chose the US not only because I can add in my 
  own account, but because Korean pop culture,
  although it has held a decent and loyal following in
  the US, was never able to break into Western 
  society in the manner that Gangnam Style did.

.showcase.
  "Why were Psy and Gangnam Style so popular in the
  United States?"
  
.content.
  Thus the primary question that I try to answer
  with this is is "Why were Psy and Gangnam Style
  so popular in the United States?"
  

