.content.
  If you haven't heard of Gangnam Style then you've been
  living under rock. This statement could not been more 
  true for any other phenomenon. Topping the music
  charts for more than 30 different countries and
  winning a number of records (including "first 
  video in Internet history to be viewed more than a
  billion times")[Wikipedia] Gangnam Style truly took the
  world by storm, but why? Was the music and dancing 
  that infectious or was there something else to it?

  Academics and bloggers alike have argued the social 
  and cultural significant of Gangnam Style and its
  creator Psy [another citation], but no one can say
  for certain why it has become such a cultural 
  phenomenon. The purpose of this website is to
  explore the possibilities for why the song and
  dance were so widely adopted, paying particular
  attention to their spread in the United States. 
  I chose the US not only because I can add in my 
  own account, but because Korean pop culture,
  although it has held a decent and loyal following in
  the US, was never able to break into Western 
  society in the manner that Gangnam Style did.

.showcase.
  "Why were Psy and Gangnam Style so popular in the
  United States?"
  
.content.
  Thus the primary question that I try to answer
  with this is is "Why were Psy and Gangnam Style
  so popular in the United States?"
  


.content.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque turpis sed lectus dignissim, non adipiscing ipsum consectetur. Nunc vel velit hendrerit, iaculis lorem pellentesque, vehicula quam. Nunc ultrices arcu quam, at tempus turpis malesuada in. Nulla facilisi. Aenean dignissim, nibh nec pellentesque congue, tellus tellus bibendum elit, id pellentesque ante est ac nibh. Sed vitae diam ultricies, venenatis turpis ut, auctor lacus. Nulla id enim vitae dui fringilla sodales sit amet in risus.

  Vivamus id blandit dui. Sed rhoncus at est condimentum condimentum. Ut consequat metus gravida, placerat lorem vitae, imperdiet elit. Nunc ante sapien, fringilla in adipiscing et, vestibulum eget odio. Integer quam neque, aliquam vel rutrum vel, eleifend vel sem. Curabitur arcu elit, dignissim tincidunt sodales vitae, consectetur ac nibh. Nulla a nisl in ante fringilla gravida eget vel ligula. Duis pulvinar sagittis ipsum. Maecenas et magna lectus. Etiam id erat eros. In magna massa, dapibus non justo in, vulputate pharetra est. Morbi quis quam et magna ultricies pulvinar in et est. Maecenas dictum aliquet metus, non posuere nunc accumsan id.

  Praesent non erat interdum, tempus eros id, pulvinar lorem. Proin viverra risus ut nisl porttitor, vitae euismod dui porta. Nulla viverra commodo tellus at hendrerit. Sed eget pretium mauris. Phasellus enim justo, pretium nec scelerisque eu, varius et ligula. Vivamus ut augue non dui consequat vestibulum. Vestibulum vitae aliquet elit. Ut turpis turpis, dignissim in nunc id, congue pulvinar lectus. Curabitur tempus arcu a viverra posuere. Maecenas rhoncus tempus turpis at auctor.

  Quisque ut ipsum blandit, pellentesque leo quis, luctus eros. Integer id semper ligula. Duis dapibus iaculis est eget placerat. Nulla eu leo tempus, laoreet nulla congue, volutpat eros. Maecenas eget tortor ut nunc rhoncus egestas. Fusce a nulla vulputate, dictum leo non, varius velit. Duis commodo magna et erat vestibulum, quis ornare risus ultricies. Quisque eu mattis sem. Nulla a enim sollicitudin justo volutpat vulputate a volutpat lorem. Fusce rutrum ornare suscipit.

  Duis at venenatis sapien, non lacinia tortor. Aliquam at pellentesque ante, nec ornare lacus. Aliquam venenatis tellus ut turpis dictum, eget tempor justo feugiat. Mauris sed nunc metus. Duis sit amet feugiat velit. Etiam bibendum diam sed fermentum pharetra. Etiam sollicitudin metus ipsum, vel iaculis lectus mattis vel. Maecenas volutpat leo ac sollicitudin adipiscing. Nullam sagittis urna ut diam rhoncus suscipit. Aliquam eget scelerisque ante. Praesent vestibulum libero diam, sodales aliquam odio rutrum et. Curabitur feugiat, metus eget commodo eleifend, mauris elit interdum nunc, at consectetur arcu odio eu dolor. Aliquam odio nunc, congue vitae nibh sit amet, tristique luctus est. In tempor, neque ac auctor molestie, sapien sapien vulputate nisi, eu posuere enim velit id dui. Aenean sagittis nibh ac massa laoreet, eu imperdiet dui hendrerit.


.content.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque turpis sed lectus dignissim, non adipiscing ipsum consectetur. Nunc vel velit hendrerit, iaculis lorem pellentesque, vehicula quam. Nunc ultrices arcu quam, at tempus turpis malesuada in. Nulla facilisi. Aenean dignissim, nibh nec pellentesque congue, tellus tellus bibendum elit, id pellentesque ante est ac nibh. Sed vitae diam ultricies, venenatis turpis ut, auctor lacus. Nulla id enim vitae dui fringilla sodales sit amet in risus.

  Vivamus id blandit dui. Sed rhoncus at est condimentum condimentum. Ut consequat metus gravida, placerat lorem vitae, imperdiet elit. Nunc ante sapien, fringilla in adipiscing et, vestibulum eget odio. Integer quam neque, aliquam vel rutrum vel, eleifend vel sem. Curabitur arcu elit, dignissim tincidunt sodales vitae, consectetur ac nibh. Nulla a nisl in ante fringilla gravida eget vel ligula. Duis pulvinar sagittis ipsum. Maecenas et magna lectus. Etiam id erat eros. In magna massa, dapibus non justo in, vulputate pharetra est. Morbi quis quam et magna ultricies pulvinar in et est. Maecenas dictum aliquet metus, non posuere nunc accumsan id.

  Praesent non erat interdum, tempus eros id, pulvinar lorem. Proin viverra risus ut nisl porttitor, vitae euismod dui porta. Nulla viverra commodo tellus at hendrerit. Sed eget pretium mauris. Phasellus enim justo, pretium nec scelerisque eu, varius et ligula. Vivamus ut augue non dui consequat vestibulum. Vestibulum vitae aliquet elit. Ut turpis turpis, dignissim in nunc id, congue pulvinar lectus. Curabitur tempus arcu a viverra posuere. Maecenas rhoncus tempus turpis at auctor.

  Quisque ut ipsum blandit, pellentesque leo quis, luctus eros. Integer id semper ligula. Duis dapibus iaculis est eget placerat. Nulla eu leo tempus, laoreet nulla congue, volutpat eros. Maecenas eget tortor ut nunc rhoncus egestas. Fusce a nulla vulputate, dictum leo non, varius velit. Duis commodo magna et erat vestibulum, quis ornare risus ultricies. Quisque eu mattis sem. Nulla a enim sollicitudin justo volutpat vulputate a volutpat lorem. Fusce rutrum ornare suscipit.

  Duis at venenatis sapien, non lacinia tortor. Aliquam at pellentesque ante, nec ornare lacus. Aliquam venenatis tellus ut turpis dictum, eget tempor justo feugiat. Mauris sed nunc metus. Duis sit amet feugiat velit. Etiam bibendum diam sed fermentum pharetra. Etiam sollicitudin metus ipsum, vel iaculis lectus mattis vel. Maecenas volutpat leo ac sollicitudin adipiscing. Nullam sagittis urna ut diam rhoncus suscipit. Aliquam eget scelerisque ante. Praesent vestibulum libero diam, sodales aliquam odio rutrum et. Curabitur feugiat, metus eget commodo eleifend, mauris elit interdum nunc, at consectetur arcu odio eu dolor. Aliquam odio nunc, congue vitae nibh sit amet, tristique luctus est. In tempor, neque ac auctor molestie, sapien sapien vulputate nisi, eu posuere enim velit id dui. Aenean sagittis nibh ac massa laoreet, eu imperdiet dui hendrerit.

.content.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque turpis sed lectus dignissim, non adipiscing ipsum consectetur. Nunc vel velit hendrerit, iaculis lorem pellentesque, vehicula quam. Nunc ultrices arcu quam, at tempus turpis malesuada in. Nulla facilisi. Aenean dignissim, nibh nec pellentesque congue, tellus tellus bibendum elit, id pellentesque ante est ac nibh. Sed vitae diam ultricies, venenatis turpis ut, auctor lacus. Nulla id enim vitae dui fringilla sodales sit amet in risus.

  Vivamus id blandit dui. Sed rhoncus at est condimentum condimentum. Ut consequat metus gravida, placerat lorem vitae, imperdiet elit. Nunc ante sapien, fringilla in adipiscing et, vestibulum eget odio. Integer quam neque, aliquam vel rutrum vel, eleifend vel sem. Curabitur arcu elit, dignissim tincidunt sodales vitae, consectetur ac nibh. Nulla a nisl in ante fringilla gravida eget vel ligula. Duis pulvinar sagittis ipsum. Maecenas et magna lectus. Etiam id erat eros. In magna massa, dapibus non justo in, vulputate pharetra est. Morbi quis quam et magna ultricies pulvinar in et est. Maecenas dictum aliquet metus, non posuere nunc accumsan id.

  Praesent non erat interdum, tempus eros id, pulvinar lorem. Proin viverra risus ut nisl porttitor, vitae euismod dui porta. Nulla viverra commodo tellus at hendrerit. Sed eget pretium mauris. Phasellus enim justo, pretium nec scelerisque eu, varius et ligula. Vivamus ut augue non dui consequat vestibulum. Vestibulum vitae aliquet elit. Ut turpis turpis, dignissim in nunc id, congue pulvinar lectus. Curabitur tempus arcu a viverra posuere. Maecenas rhoncus tempus turpis at auctor.

  Quisque ut ipsum blandit, pellentesque leo quis, luctus eros. Integer id semper ligula. Duis dapibus iaculis est eget placerat. Nulla eu leo tempus, laoreet nulla congue, volutpat eros. Maecenas eget tortor ut nunc rhoncus egestas. Fusce a nulla vulputate, dictum leo non, varius velit. Duis commodo magna et erat vestibulum, quis ornare risus ultricies. Quisque eu mattis sem. Nulla a enim sollicitudin justo volutpat vulputate a volutpat lorem. Fusce rutrum ornare suscipit.

  Duis at venenatis sapien, non lacinia tortor. Aliquam at pellentesque ante, nec ornare lacus. Aliquam venenatis tellus ut turpis dictum, eget tempor justo feugiat. Mauris sed nunc metus. Duis sit amet feugiat velit. Etiam bibendum diam sed fermentum pharetra. Etiam sollicitudin metus ipsum, vel iaculis lectus mattis vel. Maecenas volutpat leo ac sollicitudin adipiscing. Nullam sagittis urna ut diam rhoncus suscipit. Aliquam eget scelerisque ante. Praesent vestibulum libero diam, sodales aliquam odio rutrum et. Curabitur feugiat, metus eget commodo eleifend, mauris elit interdum nunc, at consectetur arcu odio eu dolor. Aliquam odio nunc, congue vitae nibh sit amet, tristique luctus est. In tempor, neque ac auctor molestie, sapien sapien vulputate nisi, eu posuere enim velit id dui. Aenean sagittis nibh ac massa laoreet, eu imperdiet dui hendrerit.

.content.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque turpis sed lectus dignissim, non adipiscing ipsum consectetur. Nunc vel velit hendrerit, iaculis lorem pellentesque, vehicula quam. Nunc ultrices arcu quam, at tempus turpis malesuada in. Nulla facilisi. Aenean dignissim, nibh nec pellentesque congue, tellus tellus bibendum elit, id pellentesque ante est ac nibh. Sed vitae diam ultricies, venenatis turpis ut, auctor lacus. Nulla id enim vitae dui fringilla sodales sit amet in risus.

  Vivamus id blandit dui. Sed rhoncus at est condimentum condimentum. Ut consequat metus gravida, placerat lorem vitae, imperdiet elit. Nunc ante sapien, fringilla in adipiscing et, vestibulum eget odio. Integer quam neque, aliquam vel rutrum vel, eleifend vel sem. Curabitur arcu elit, dignissim tincidunt sodales vitae, consectetur ac nibh. Nulla a nisl in ante fringilla gravida eget vel ligula. Duis pulvinar sagittis ipsum. Maecenas et magna lectus. Etiam id erat eros. In magna massa, dapibus non justo in, vulputate pharetra est. Morbi quis quam et magna ultricies pulvinar in et est. Maecenas dictum aliquet metus, non posuere nunc accumsan id.

  Praesent non erat interdum, tempus eros id, pulvinar lorem. Proin viverra risus ut nisl porttitor, vitae euismod dui porta. Nulla viverra commodo tellus at hendrerit. Sed eget pretium mauris. Phasellus enim justo, pretium nec scelerisque eu, varius et ligula. Vivamus ut augue non dui consequat vestibulum. Vestibulum vitae aliquet elit. Ut turpis turpis, dignissim in nunc id, congue pulvinar lectus. Curabitur tempus arcu a viverra posuere. Maecenas rhoncus tempus turpis at auctor.

  Quisque ut ipsum blandit, pellentesque leo quis, luctus eros. Integer id semper ligula. Duis dapibus iaculis est eget placerat. Nulla eu leo tempus, laoreet nulla congue, volutpat eros. Maecenas eget tortor ut nunc rhoncus egestas. Fusce a nulla vulputate, dictum leo non, varius velit. Duis commodo magna et erat vestibulum, quis ornare risus ultricies. Quisque eu mattis sem. Nulla a enim sollicitudin justo volutpat vulputate a volutpat lorem. Fusce rutrum ornare suscipit.

  Duis at venenatis sapien, non lacinia tortor. Aliquam at pellentesque ante, nec ornare lacus. Aliquam venenatis tellus ut turpis dictum, eget tempor justo feugiat. Mauris sed nunc metus. Duis sit amet feugiat velit. Etiam bibendum diam sed fermentum pharetra. Etiam sollicitudin metus ipsum, vel iaculis lectus mattis vel. Maecenas volutpat leo ac sollicitudin adipiscing. Nullam sagittis urna ut diam rhoncus suscipit. Aliquam eget scelerisque ante. Praesent vestibulum libero diam, sodales aliquam odio rutrum et. Curabitur feugiat, metus eget commodo eleifend, mauris elit interdum nunc, at consectetur arcu odio eu dolor. Aliquam odio nunc, congue vitae nibh sit amet, tristique luctus est. In tempor, neque ac auctor molestie, sapien sapien vulputate nisi, eu posuere enim velit id dui. Aenean sagittis nibh ac massa laoreet, eu imperdiet dui hendrerit.
