.showcase.
  Topic Question

.content.
  Why were PSY and <i>Gangnam Style</i> so popular 
  in the United States? How has <i>Gangnam Style</i>
  impacted the nation?
 
.showcase.
  The First to One Billion

.content.
  A world phenomenon. Praised as a "force for world peace" by 
  <a href="http://en.wikipedia.org/wiki/Ban_Ki-moon">Ban Ki-moon</a> 
  (the Secretary-General of the UN) because of its ubiquity
  and adoration across the globe, the sensation known as
  <i>Gangnam Style</i> has made quite an impact on the globe.
  Topping the music charts for more than 30 different 
  countries and winning a number of records (including "first 
  video in Internet history to be viewed more than a
  billion times"<div class='citation'><a href="http://en.wikipedia.org/wiki/Gangnam_Style">1</a></div>)
  <i>Gangnam Style</i> truly
  took the world by storm. 

.showcase.
  Were the music and dancing that infectious or was 
  there something else to it?

.content.
  Academics and bloggers alike have argued the social 
  and cultural significance of <i>Gangnam Style</i> 
  and its creator PSY 
  <div class="citation"><a href="http://www.motherjones.com/mixed-media/2012/09/gangnam-style-asian-masculinity%20">2</a></div>
  <div class="citation"><a href="http://psysociety.wordpress.com/2012/09/25/gangnam-style/">3</a></div>
  <div class="citation"><a href="http://www.racialicious.com/2012/09/20/psy-and-the-acceptable-asian-man/">4</a></div>
  , but what
  is the real reason behind its virality?

.showcase.
  This Website

.content.
  In writing the content for this website I explored
  tons of blog posts and looked back on the readings
  from my <a href="https://www.myedu.com/Duke-Duke-University/AMES-471-World-Of-Korean-Cinema/course/5023793/">
  Korean Cinema course</a> for the purpose of
  finding an answer to both the above and topic 
  question. I lay out my findings and 
  insert my conclusions throughout
  each section (which I've organized according 
  to tabs to the left). The website is
  formatted in much the same way an essay would be,
  but with less of a formal tone and more media
  content because this was the best way to convey
  my message and thoughts. In terms of analyzing 
  <i>Gangnam Style</i>'s virality (which I've
  dubbed "Gangnam Wave", details 
  below), I chose to focus primarily on its propagation 
  throughout the United States, bringing in information
  regarding other nations when the relative comparisons
  highlight my arguments.

.showcase.
  "Gangnam Wave"

.content.
  The term is derived from the
  "<a href="http://en.wikipedia.org/wiki/Korean_Wave">Korean Wave</a>"
  (a.k.a. "hallyu"), which is a neologism meant to 
  describe the increasing popularity of South Korean 
  culture since the late 1990s
  <div class="citation"><a href="http://en.wikipedia.org/wiki/Korean_Wave">5</a></div>. We could simply 
  place <i>Gangnam Style</i> under the Korean Wave, 
  but I did not find it fitting given that <i>Gangnam Style</i> 
  has found success beyond that of the initial hallyu. 
  "Gangnam Wave" is in a category of its own.

.showcase.
  Why Focus on the United States?
 
.content.
  The US has fostered a low-key Korean pop following since
  the coming of the Korean Wave, but <i>Gangnam Style</i>
  was picked up by the masses. From this we 
  can posit that there must have been something
  about the latter that was more amenable to US
  tastes. Traditional K-pop and the factory (cite John Seabrook)
  industry behind it have been attempting to 
  break into US mass media culture for years
  with poor success
  <div class="citation"><a href="http://www.newyorker.com/reporting/2012/10/08/121008fa_fact_seabrook">6</a></div>. Thus analyzing what sets 
  <i>Gangnam Style</i> apart from traditional 
  K-pop produces an insight into the 
  relationship between South Korea (SK) and the US.
  Furthermore, my life in the US and as
  a South Korean American offers an insider's perspective
  into the phenomenon from both the SK and US sides.

.showcase.
  Disclaimer
 
.content.
  My arguments look to the social and cultural significance
  of "Gangnam Wave". That is, I emphasize certain aspects of 
  <i>Gangnam Style</i>'s popularity. I acknowledge that
  the infectious nature of the catchy music and fun-to-do
  horse trot dance 
  <div class="citation"><a href="http://www.viralviralvideos.com/2012/09/11/psy-teaches-gangnam-style-horse-trot-dance-to-britney-spears-on-ellen/">7</a></div>
  undoubtedtly played a significant role, 
  but there is more to the mix than just those elements.
 
.showcase.
  Thesis Statement

.content.
  Both the cultural meeting point of South Korea
  and the United States and the perfect storm,
  "Gangnam Wave" was the result of well-executed 
  cultural technology and long standing East
  Asian stereotypes in US pop culture. While the Wave 
  was a remarkable for South Korea and PSY in the US,
  the impact in the United States may have further
  entrenched US citizens' perspectives and 
  understandings of the South Korean society (and
  Asian societies in general). PSY's pervasiveness
  has provided fodder to solidify Asian stereotypes 
  in a manner similar to those of other notable
  Asian males such as <a href="http://en.wikipedia.org/wiki/William_Hung">
  William Hung</a>. Indeed, PSY's
  physical characteristics and mannerisms  
  are easily placed by the US into their perception
  of the Asian Other. 


