.showcase.
  US Definition of The <del>South Korean</del> Asian Male

.content.
  PSY was not the first South Korean male to
  make a presence in US mass media culture. 
  In 2009, both <a href="http://en.wikipedia.org/wiki/Rain_(entertainer)">
  Rain (Jung Ji-hoon)</a> and <a href="http://en.wikipedia.org/wiki/Lee_Byung-hun">
  Lee Byung-hun</a> appeared on the big screen; Rain in <a href="http://en.wikipedia.org/wiki/Ninja_Assassin">
  <i>Ninja Assassin</i></a> and Lee in <a href="http://en.wikipedia.org/wiki/G.I._Joe:_The_Rise_of_Cobra">
  G.I. Joe: The Rise of Cobra</a>. Rain played
  the male protagonist, Raizo, in his film and Lee played 
  Storm Shadow, one of the vilain leaders, in his.
  Coincidentally, both actors played 
  one-dimensional ninjas concerned only with violence
  while showcasing their "chocolate abs" 
  (hover mouse over photos below for captions).

#ninjaAssassin.ninja-image
  .curtain.left
    .curtain-content.
      Lee Byung-hun as Storm Shadow <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/ninjaAssassin.jpg", alt="Rain as Ninja Assassin")
  .coincidentally Coincidentally.

#stormShadow.ninja-image
  .curtain.right
    .curtain-content.
      Rain as Ninja Assassin <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/stormShadow.jpg", alt="Lee Byung-hun as Storm Shadow")
  .coincidentally Coincidentally.

<br />
<br />

.content.
  Rain presents a different case from Lee
  because Lee has been an actor all throughout 
  his celebrity career and has taken up physical roles in 
  the past (e.g. in <a href="http://en.wikipedia.org/wiki/A_Bittersweet_Life">
  A Bittersweet Life</a> and <a href="http://en.wikipedia.org/wiki/The_Good,_the_Bad,_the_Weird">
  The Good, the Bad, the Weird</a>).
  Rain, on the other hand, is known primarily 
  as a music performer and heartthrob actor
  in Korean romantic-comedy dramas (most 
  famously in <a href="http://en.wikipedia.org/wiki/Full_House_(2004_TV_series)">
  Full House</a>).<div class="citation"><a href="http://www.racialicious.com/2012/09/20/psy-and-the-acceptable-asian-man/">4</a></div>
  By playing Raizo in <i>Ninja Assassin</i>, he took a large step outside of his
  traditional role and basically created a new 
  persona for Western audiences. We observe a
  similar case with Taiwanese musician <a href="http://en.wikipedia.org/wiki/Jay_Chou">
  Jay Chou</a>, who portrayed 
  <a href="http://en.wikipedia.org/wiki/Kato_(The_Green_Hornet)">
  Kato</a>, a skilled martial artist and genius 
  mechanic, in the <a href="http://en.wikipedia.org/wiki/The_Green_Hornet_(2011_film)">
  Green Hornet</a>. Despite their unique careers
  and origins, all three actors have clearly been
  placed under a single definition of Asian male
  created by US media culture: the martial artist.
  These are today's Jackie Chans and Bruce Lees.
  
.showcase.
  Here's the Punchline, There's More to It
  
.content.
  Not all Asian or Asian American males are typecasted
  as the kung-fu master; that role requires a certain
  character and physique. The other Asian men 
  who have graced US media did so through another
  role: the clown, the jester, the butt of the joke.
  Remember <a href="http://en.wikipedia.org/wiki/William_hung">
  William Hung</a>? Despite his terrible performance
  on <a href="http://en.wikipedia.org/wiki/American_Idol">
  American Idol</a>, his appearance on the show 
  garnered him international stardom and even a record
  deal.<div class="citation"><a href="http://en.wikipedia.org/wiki/William_hung">19</a></div>
  He had no talent (he said so himself), 
  fit the look of a stereotypical nerdy
  Asian, and spoke with a noticeable accent.
  Many have attributed his fame to mockery and 
  white hegemonic propagation of entrenched
  Asian sterotypes. In other words, he stood 
  in front of US media as a joke.<div class="citation"><a href="http://www.sfgate.com/politics/article/William-Hung-Racism-Or-Magic-2798362.php">20</a></div>
  <iframe width="420" height="315" src="//www.youtube.com/embed/0d5eP0wWLQY" frameborder="0" allowfullscreen>
  </iframe>
  <br /><br />
  More recently, US pop culture has taken a liking
  to <a href="http://en.wikipedia.org/wiki/Ken_Jeong">
  Dr. Ken Jeong</a>. Better known as Leslie Chow
  in <a href="http://en.wikipedia.org/wiki/The_Hangover_(franchise)">
  The Hangover film series</a> or  
  <a href="http://en.wikipedia.org/wiki/List_of_Community_characters#Ben_Chang">
  Ben Chang</a> in NBC commedy series <a href="http://en.wikipedia.org/wiki/Community_(TV_series)">
  Community</a>, Jeong, an MD born in the US to South
  Korean parents, has been playing the role
  of the Asian clown, clad with a heavy 
  <a href="http://en.wikipedia.org/wiki/Fresh_off_the_boat">
  fresh off the boat</a> accent and 
  peculiar persona. Need explicit proof? Watch this
  clip from the first Hangover film. 
  <iframe width="560" height="315" src="//www.youtube.com/embed/jGMFwT3iSMk" frameborder="0" allowfullscreen></iframe>
  <br /><br />
  While PSY is neither Hung or Jeong, it is clear
  that he has found his way into US pop culture
  through the jokester stereotype; he built his 
  career on being the funny-guy.<div class="citation"><a href="http://articles.timesofindia.indiatimes.com/2012-12-23/news-and-interviews/35982239_1_psy-south-korean-rapper-dance">21</a></div>

.showcase.
  You're Either a Fighter or a Comedian and Never a Man

.content.
  Why have these two stereotypes prevailed in US pop
  culture? Given that mainstream media is guarded by 
  the powers that be (the white heterosexual American
  male hegemonic power structure), it is clear that 
  these Asian male constructs are the results
  of the filtering of inbounding Asian characters
  and culture. These constructs are what the white
  mainstream culture rulers find acceptable
  and non-threatening. What does this mean for Korean
  and Asian masculinity in the US? Either 
  it is packaged in the familiar form of the 
  asexual martial arts master or the emasculated Asian 
  clown. I just want to add another notable example of the 
  first (in addition to those above): <a href="http://en.wikipedia.org/wiki/Jet_Li">
  Jet Li</a> as the lead in 
  <a href="http://en.wikipedia.org/wiki/Romeo_Must_Die">
  Romeo Must Die</a> (his first leading role in a Hollywood
  film). The directors pre-screened the a 
  version of the film which contained a scenen
  where Li kisses the female protagonist, but
  because audiences abjectly opposed the scene
  (they boo'ed), the final version of the film
  replaced the scene with one in which Li 
  remains the platonic friend.<div class="citation"><a href="http://en.wikipedia.org/wiki/Romeo_Must_Die">22</a></div>
  All he did in the film was fight, he was prevented from 
  having a love interest (even though the movie was 
  titled as such). But it didn't matter, he was asexual, and therefore posed no threat to
  the white hegemony, so he was acceptable.
  The same situation takes place with Rain in <i>Ninja Assassin</i>.
  <br /><br />
  With the Asian clown stereotype, masculinity 
  isn't even a part of the character.
  <br /><br />
  This protection by the hegemony may be why traditional
  Korean pop male artists have been unable to 
  successfully penetrate US pop culture. The 
  industry standard stars are dressed in high
  fashion and are always willing to show off their
  hard bodies (pretty much required by the industry).
  These stars are highly sexualized, and they 
  pose a threat to white masculinity. They are not
  deemed acceptable by the hegemony, and thus 
  they have not found their way into US pop culture
  despite having tried and with much more effort
  than PSY did.<div class="citation"><a href="http://www.racialicious.com/2012/09/20/psy-and-the-acceptable-asian-man/">4</a></div>
  In fact, PSY, who disarmed the
  gates of US pop culture with his clown persona,
  did not approach the US audiences. It was the
  other way around.
  

