.showcase.
  US Definition of The <del>South Korean</del> Asian Male

.content.
  PSY was not the first South Korean male to
  make a presence in US mass media culture. 
  In 2009, both <a href="http://en.wikipedia.org/wiki/Rain_(entertainer)">
  Rain (Jung Ji-hoon)</a> and <a href="http://en.wikipedia.org/wiki/Lee_Byung-hun">
  Lee Byung-hun</a> appeared on the big screen; Rain in <a href="http://en.wikipedia.org/wiki/Ninja_Assassin">
  <i>Ninja Assassin</i></a> and Lee in <a href="http://en.wikipedia.org/wiki/G.I._Joe:_The_Rise_of_Cobra">
  G.I. Joe: The Rise of Cobra</a>. Rain played
  the male protagonist Raizo in his film and Lee played 
  Storm Shadow, one of the vilain leaders, in his.
  Coincidentally, both actors played 
  one-dimensional ninjas concerned only with violence
  while showcasing their "chocolate abs" 
  (hover mouse over photos below for captions).

#ninjaAssassin.ninja-image
  .curtain.left
    .curtain-content.
      Lee Byung-hun as Storm Shadow <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/ninjaAssassin.jpg", alt="Rain as Ninja Assassin")
  .coincidentally Coincidentally.

#stormShadow.ninja-image
  .curtain.right
    .curtain-content.
      Rain as Ninja Assassin <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/stormShadow.jpg", alt="Lee Byung-hun as Storm Shadow")
  .coincidentally Coincidentally.

<br />
<br />

.content.
  Rain presents a different case from Lee
  because Lee has been an actor all throughout 
  his celebrity career and has taken up physical roles in 
  the past (e.g. in <a href="http://en.wikipedia.org/wiki/A_Bittersweet_Life">
  A Bittersweet Life</a> and <a href="http://en.wikipedia.org/wiki/The_Good,_the_Bad,_the_Weird">
  The Good, the Bad, the Weird</a>).
  Rain, on the other hand, is known primarily 
  as a music performer and heartthrob actor
  in Korean romantic-comedy dramas (most 
  famously in <a href="http://en.wikipedia.org/wiki/Full_House_(2004_TV_series)">
  Full House</a>). By playing Raizo in Ninja 
  Assassin, he took a large step outside of his
  traditional role and basically created a new 
  persona for Western audiences. We observe a
  similar case with Taiwanese musician <a href="http://en.wikipedia.org/wiki/Jay_Chou">
  Jay Chou</a>, who portrayed 
  <a href="http://en.wikipedia.org/wiki/Kato_(The_Green_Hornet)">
  Kato</a>, a skilled martial artist and genius 
  mechanic, in the <a href="http://en.wikipedia.org/wiki/The_Green_Hornet_(2011_film)">
  Green Hornet</a>. Despite their unique careers
  and origins, all three actors have clearly been
  placed under a one definition of Asian male
  created by US media culture: the martial artist.
  These are today's Jackie Chans and Bruce Lees.
  
.showcase.
  Here's the Punchline, There's More to It
  
.content.
  Not all Asian or Asian American males are typecasted
  as the kung-fu master; that role requires a certain
  character and physique. The other Asian men 
  who have graced US media did so through another
  role: the clown, the jester, the butt of the joke.
  Remember <a href="http://en.wikipedia.org/wiki/William_hung">
  William Hung</a>? Despite his terrible performance
  on <a href="http://en.wikipedia.org/wiki/American_Idol">
  American Idol</a>, his appearance on the show 
  garnered him international stardom and even a record
  deal. He had no talent (he said so himself), 
  fit the look of a stereotypical nerdy
  Asian, and spoke with a noticeable accent.
  Many have attributed his fame to mockery and 
  white hegemonic propagation of entrenched
  Asian sterotypes. In other words, he stood 
  in front of US media as a joke. 
  "William Hung: Racism, Or Magic?". San Francisco Chronicle. 2004-04-06.
  <iframe width="420" height="315" src="//www.youtube.com/embed/0d5eP0wWLQY" frameborder="0" allowfullscreen>
  </iframe>
  <br /><br />
  More recently, US media culture has taken a liking
  to <a href="http://en.wikipedia.org/wiki/Ken_Jeong">
  Dr. Ken Jeong</a>. Better known as Leslie Chow
  in <a href="http://en.wikipedia.org/wiki/The_Hangover_(franchise)">
  The Hangover film series</a> 
  <a href="http://en.wikipedia.org/wiki/List_of_Community_characters#Ben_Chang">
  Ben Chang</a> in NBC commedy series <a href="http://en.wikipedia.org/wiki/Community_(TV_series)">
  Community</a>, Jeong, born in the US to South
  Korean parents, has been playing the role
  of the Asian clown, clad with a heavy 
  <a href="http://en.wikipedia.org/wiki/Fresh_off_the_boat">
  fresh off the boat</a> accent and 
  peculiar persona. Need explicit proof? Watch the 
  clip from the first Hangover film below. 
  <iframe width="560" height="315" src="//www.youtube.com/embed/jGMFwT3iSMk" frameborder="0" allowfullscreen></iframe>
  <br /><br />
  While PSY 
  

rain isn't japanese, chow isn't chinese

.showcase.
  You're Either a Fighter or a Comedian and Never a Man

.content.
  ninja assassin I got more a feeling of japaneseness
  
  Re Both played roles in which their
  screen time without a shirt was perhaps more significant
  than their time with one on. Also note,
  despite having first become famous through music,
  Rain has had little significance in US music culture.
  US mass media culture seemed only to have cared about
  the actors' physiques. Any more dimensionality or
  character complexity and the US would have been diverting 
  attention from US stars to these SK stars. US mass media
  has allowed South Korean male celebrities to establish a 
  notion of masculinity, but according to its terms.
  It must cater to its audiences, and it is likely that 
  straying too far from established stereotypes 
  (the martial arts master in this case e.g. Jackie
  Chan, Bruce Lee), would lose popularity. 
   

