.showcase.
  Chocolate Abs and the Nude Male Torso

.content.
  Korean masculinity has become akin
  to having a chiseled body. [Multiple exposures]. 
  //http://www.dramafever.com/news/korean-drama-and-pop-chocolate-factory/
  In an article titled <i>Multiple Exposures: Korean
  Bodies and the Transnational Imagination</i>, Stephen J. 
  Epstein and Rachael M. Joo analyze how South
  Korea's perception of its celebrities hinges on
  the physical perfection of their bodies.
  The term "chocolate abs" refers to 
  six-packed torsos that resemble a block of chocolate
  partitioned into fractions. I photoshopped a picture
  of <a href="http://en.wikipedia.org/wiki/Lee_Byung-hun">
  Lee Byung-hun</a> below to explicitly capture this notion.

img(id="leeByungHun", class='chocolateAbs', src="img/leeByungHun.jpg", alt="Lee Byung-hun")

.content.
  If you're not convinced of K-pop's obsession with
  shirtless men, here's another photo. This one is
  of the popular boy band <a href="http://en.wikipedia.org/wiki/2PM">2PM</a>.

img(id="2PM", class='chocolateAbs', src="img/2PM.jpg", alt="2PM")

.content.
  From veteran actors like Lee Byung-hun to idol groups 
  like 2PM, the common denominator of a chiseled physique 
  is apparent. However, South Korea is not unique in
  this idealization of their male stars. 
  In most society, one can find a 
  glorification of and attraction towards those 
  that have golden-ratio features and bodies of <a href="http://en.wikipedia.org/wiki/Adonis">
  Adonis</a>.  In South Korea, however, there is a particular 
  manifestation of this vanity. Along with "chocolate
  abs" there are a <a href="http://blog.ningin.com/2012/04/07/the-complete-glossary-of-kpop-body-terms/">
  number of other terms</a> K-pop fans use to 
  objectify their idols. The vanity of South 
  Korean pop culure thus sets up a definition
  of masculinity that has less to do with
  strength of character and more with definition
  of body.

.showcase.
  Neither Gangnam Style Nor Masculine

.content.
  PSY is quirky, comical, and portly; 
  he is what the Korean pop factory system 
  would consider a defective exception. 
  He does not meet industry standards 
  in terms of physical attractiveness 
  or angelic morality. By no means is he
  masculine. This, however, hasn't prevented him 
  from trying to place himself within
  the South Korean fetishization of the
  nude male torso.

img(class='chocolateAbs', src="img/psyShirtless.jpg", alt="Lee Byung-hun")

.content.
  The photo above captures PSY performing
  at one of his concerts in Seoul for which
  he promised in the days leading up to 
  the concert that he would perform 
  <i>Gangnam Style</i> shirtless if 
  his song overtook the number one
  spot on the <a href="http://en.wikipedia.org/wiki/Billboard_Hot_100">
  Billboard Hot 100 </a> chart. On
  the day of the concert, <i>Gangnam Style</i>
  had not hit the number one spot; PSY
  took off his shirt anyway.
  //http://goldsea.com/Text/index.php?id=13688
  Paradoxically enough, PSY's
  presentation of his sub-Korean pop
  physique likely pushed him further
  away from masculinity.
  He isn't sexy, chiseled, or handsome
  according to industry standards.
  He is comical and crazy. A funny guy.
  A funny, emasculated guy.


