.showcase.
  Chocolate Abs and the Male Nude Torso

.content.
  Korean masculinity has largely become akin
  to having a chiseled body [Multiple exposures]. 
  //http://www.dramafever.com/news/korean-drama-and-pop-chocolate-factory/
  In an article titled <i>Multiple Exposures: Korean
  Bodies and the Transnational Imagination</i>, Stephen J. 
  Epstein and Rachael M. Joo analyze how the South
  Korean perception of celebrities hinges on
  the physical perfection of the celebrities' 
  bodies. The term "chocolate abs" refers to 
  torsos that resemble a block of chocolate
  partitioned into fractions. The photo below
  explicity captures this notion.

img(id="leeByungHun", src="img/leeByungHun.jpg", alt="Lee Byung-hun with chocolate abs")

.content.
  From veteran actors like Lee Byung-hun (above)
  to boy bands like 2PM (picture), the common denominator 
  of a chiseled physique is apparent. However, South Korea
  is not unique in this idealization of their male stars. 
  In any society with celebrities, one can find a 
  glorification and stronger attraction to those 
  that have golden-ratio features and bodies of Adonis.
  In South Korea, however, there is a particular 
  manifestation of this vanity. Along with "chocolate
  abs" there are a <a href="http://blog.ningin.com/2012/04/07/the-complete-glossary-of-kpop-body-terms/">
  number of other terms</a> that are a part of the SK
  pop star body vernacular. The point of this 
  section is not to analyze why such is the case, but  
  to state that it is the case. The vanity of South 
  Korean pop culure sets K-pop up as a stage where only the
  physically attractive survive and creates a 
  definition of masculinity that is 
  determined by physical appearance. 

.showcase.
  South Korean Masculinity in the United States

.content.
  Here let's focus on two of more popular South Korean
  male stars that have successfully made their ways
  into US pop culture: <a href="http://en.wikipedia.org/wiki/Rain_(entertainer)">
  Rain (Jung Ji-hoon)</a> and <a href="http://en.wikipedia.org/wiki/Lee_Byung-hun">
  Lee Byung-hun</a>. Rain made his biggest US appearance in the 
  movie <a href="http://en.wikipedia.org/wiki/Ninja_Assassin"><i>Ninja Assassin</i></a>,
  in which he played the male protagonist. Lee made his US
  appearances as the villain <a href="http://en.wikipedia.org/wiki/Storm_Shadow_(G.I._Joe)">
  Storm Shadow</a> in the <a href="http://en.wikipedia.org/wiki/G.I._Joe:_The_Rise_of_Cobra">
  G.I. Joe</a> movies. Coincidentally, both Rain and Lee played 
  ninjas in their respective movies. Both played
  one-dimensional characters, filled with rage and
  adept at fighting. Both played roles in which their
  screen time without a shirt was perhaps more significant
  than their time with one on. Coincidentally. Also note,
  despite having first become famous through music,
  Rain has had little significance in US music culture.
  US mass media culture seemed only to have cared about
  the actors' physiques. Any more dimensionality or
  character complexity and the US would have been diverting 
  attention from US stars to these SK stars. US mass media
  has allowed South Korean male celebrities to establish a 
  notion of masculinity, but according to its terms.
  It must cater to its audiences, and it is likely that 
  straying too far from established stereotypes 
  (the martial arts master in this case e.g. Jackie
  Chan, Bruce Lee), would lose popularity. Whatever the
  case, the notion of "chocolate abs" is still prevalent
  (hover mouse over photos below for captions).
   
#ninjaAssassin.ninjaImage
  .curtain.left
    .curtain-content.
      Lee Byung-hun as Storm Shadow <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/ninjaAssassin.jpg", alt="Rain as Ninja Assassin")
  .coincidentally Coincidentally.

#stormShadow.ninjaImage
  .curtain.right
    .curtain-content.
      Rain as Ninja Assassin <br /><br />
      Bloody, cut-up, and shirtless
  img(src="img/stormShadow.jpg", alt="Lee Byung-hun as Storm Shadow")
  .coincidentally Coincidentally.



