.showcase.
  Park Jae-sang

.content.
  PSY (short for "psycho") is the stage name for Park Jae-sang,
  the creator of <i>Gangnam Style</i>. Born on December 31,
  1977, the now <div class="psy-age"></div> year old Park
  has had his fair share in the spotlight before <i>Gangnam Style</i>. 
  Raised by an affluent family in the Gangnam District of 
  Seoul, South Korea, his father is an executive of a large 
  manufacturing corporation and his mother owns several
  restaurants in Gangnam. PSY initially planned to take over
  his father's corporation and attended Boston University
  in pursuit of a degree in business administration. However,
  he soon became disinterested with his studies.  
  PSY said in an interview that he fell in love with music
  at the age of 15 and was inspired by Queen's 
  Bohemian Rhapsody [citation], so when he could no
  longer stand to remain at the university, he dropped
  out in pursuit of musical ventures. He debuted as 
  a performer on South Korean television in 2000 
  after catching the eye of a TV producer, and he had
  been on a modest climb to fame until <i>Gangnam Style</i>.
  
.showcase.
  Controversy and Peculiarity

.content.
  PSY is far from the typical factory-made Korean pop 
  star; he is organic, far from perfect. He may be 
  too far from perfect though. Before his rise to
  global fame, PSY's life and career were not empty
  of shortcomings:
  <ul>
    <li>
      In 2001 he was caught for possession
      of maijuana and put in jail for 25 days. He was later
      fined for the same incident.[citation]
    </li>
    <li>
      When PSY released his first alum in 2001, he was fined
      by the South Korean government because the contents
      of the album were deemed inappropriate.
      Carbone, Nick. "Gangnam Rile: Psy’s Past Anti-American Performances Stir Controversy". Time. Retrieved December 19, 2012.
    </li>
    <li>
      Due to explicit content his second album was 
      prohibited from being sold to the under-19 market,
      because authorities were afraid of the negative 
      impact it might impose on the younger generation.
    </li>
    <li>
      At the beginning of his career, PSY was dubbed 
      "The Bizarre Singer" due to his explicit lyrics,
      strange dancing, and non-factory appearance.
      Coughlan, Maggie. "PSY: 5 Things to Know About the 'Gangnam Style' Rapper". People (magazine). Retrieved October 28, 2012.
    </li>
    <li>
      In 2003 he was enlisted in the South Korean military
      but he managed to be excused from his duties by 
      finding a position at a software company because the
      SK government grants pardons to those working
      in engineering or technically-related fields for
      the benefit of the government. However, during the
      time of his "employment", he released his fourth
      album. He was found guilty of neglecting his duties
      in 2007 and served in the military until 2009.
    </li>
    <li>
      PSY has admitted to a drinking problem.
      Von Glinow, Kiki (July 28, 2013). "Psy Reveals Drinking Problem: 'If I'm Happy, I'm Drinking. If I'm Sad, I'm Drinking'". Huffington Post. Retrieved July 29, 2013.
    </li>
    <li>
      He participated in an anti-American concert after
      the <a href="http://en.wikipedia.org/wiki/Yangju_highway_incident">
      Yangju highway incident
      </a>, fueling the anti-American sentiment of the time.
    </li>
  </ul>

  Despite all the rough patches and gray areas in his career,
  PSY has found a niche in the South Korean music industry and
  was hailed early in his career because of his controversial 
  songwriting and peculiar style. "About Psy". MTV. Retrieved October 28, 2012 
  This niche is known as "gwang-dae", and the performers 
  that comprise this categoriy are individiuals born to aristocracy or 
  government who perform comical and satirical acts to uncover 
  the underlying truths of their birthrights. // http://theairspace.net/commentary/south-koreas-fool-oppa-is-gangnam-style/
  For PSY, <i>Gangnam Style</i> is his greatest 
  achievement, the pinnacle of his artistry.
  Woo, Michelle. "Psy Gets 'Freaked Out' About His Fame. Here's Five Other Things We Learned About The 'Gangnam Style' Star in His Reddit AMA". OC Weekly. Retrieved October 26, 2012.
 
.showcase.
  What is "Oppan Gangnam Style"?

.content.
  The iconic quote of the song and now a part of 
  <a href="http://en.wikipedia.org/wiki/The_Yale_Book_of_Quotations">
  The Yale Book of Quotations</a>, "Oppan Gangnam Style" can be 
  "2012 Top Quotes: From 'Binders Full of Women' to 'Gangnam Style'". NBC Miami (Associated Press). Retrieved December 9, 2012.
  loosely translated "Big brother is Gangnam Style" (females
  use the term "oppa" when addressing their older brothes,
  but more colloquially they may use it to refer to any
  older male friends). But what does it mean to be "Gangnam Style"?

.showcase.
  The Gangnam District

.content.
  Before we can understand what "Gangnam Style" is,
  we first need to know what Gangnam is. The 
  Gangnam District is basically the Beverly Hills
  of South Korea. To put things 
  in perspective, the district spans 15 square miles
  and its entire real estate is worth more than 
  that of Busan's, South Korea's second largest city;
  //http://english.chosun.com/site/data/html_dir/2011/09/20/2011092000357.html
  Gangnam has a population of 527,641,
  (as of the 2010 census) //http://english.chosun.com/site/data/html_dir/2011/09/20/2011092000357.html
  Busan has 3.6 million.
  //"Busan: Population and area of Administrative units". Dynamic Busan: Busan Metropolitan City. Retrieved 2010-03-24.
  Naturally, Gangnam is home to the richest conglomerates 
  of South Korean (e.g. Samsung,
  Hyundai, YG Entertainment), collectively known as 
  <a href="http://en.wikipedia.org/wiki/Chaebol">chaebol</a>".
  In more US vernacular, Gangnam is the 1 percent 
  (recall the <a href="http://en.wikipedia.org/wiki/Occupy_movement">
  Occupy Movement </a> and the 
  <a href="http://en.wikipedia.org/wiki/We_are_the_99%25">
  99%</a>).

.showcase.
  Gangnam Style is For Posers

.content.
  Thus the term "Gangnam Style" is a neologism referring to
  the oppulent lifestyle of those living in the 
  Gangnam District of Seoul. Gangnam is a South Korean metonym 
  for aristocracy and the elite, and the younger South
  Korean generation call themselves "Gangnam Style"
  when they wish to convey that they too fit in with
  the high profile crowd. 




  //In terms of masculinity - he is saying 'Oppan' Gangnam style dude is gangnam style


